# Node
node_modules/
.next/
out/
npm-debug.log*

# Python
venv/
__pycache__/
*.pyc
.pytest_cache/

# Environment variables
.env
.env.*
!.env.example

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Terraform
.terraform/
*.tfstate
*.tfstate.*
crash.log
